@tailwind base;

@tailwind components;

@tailwind utilities;


@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

#app {
  @apply font-sans ;
}

* {
  @apply box-border;
}

.container{
  @apply flex justify-center
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.btn:hover {
  background-color: rgb(86, 134, 136);
}
.btn {
  background-color: rgb(107, 176, 179);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1ffff;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.boxinput {
  margin: 0px 30% 0px 30%;
}
.boxpost{
  margin: 0px 10% 0px 10%;
}
.profileCard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
  text-align: center;
}
.postCard{
  margin-top: 30px;
  box-shadow: 0 3px 4px 0 lightseagreen;
  max-width: 700px;
 background-color: rgb(217, 245, 243);
  text-align: end;
}
.picframe{
  @apply rounded-full border-solid border-black border-2 -mt-3
}

.button-post {
  display: inline-block;
  border-radius: 4px;
  background-color: lightseagreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  width: 85px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-post span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-post span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-post:hover span {
  padding-right: 25px;
}

.button-post:hover span:after {
  opacity: 1;
  right: 0;
}