@tailwind base;

@tailwind components;

@tailwind utilities;


@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

#app {
  @apply font-sans ;
}

* {
  @apply box-border;
}



input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn:hover {
  background-color: rgb(86, 134, 136);
}
.registerbtn {
  background-color: rgb(107, 176, 179);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1ffff;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.boxregister {
  margin: 0px 30% 0px 30%;
}


